.o_fit_group{
    margin-bottom:0px !important; 
    padding-top:0px !important; 
    margin-top:0px !important;
}

input.o_cg_read_only{
    background-color: #f5f5f5 !important;
}

.o_no_resize{
    resize: none;
}

.o_field_bold{
    font-weight: bold !important;
}

span.o_cunamas_blue{
    color: #009ee2;
}

.o_field_bold > div > label{
    font-weight: bold !important;
}

.o_form_comite{
    min-width: 650px !important;
    max-width: 1300px !important;
    min-height: 330px;
    background: white;
    padding: 16px;
    margin: 0 auto;
}

.tree_actor_comunal [data-id="dni"]{width: 90px;}
.tree_actor_comunal [data-id="fecha_inicio"]{width: 110px;}
.tree_actor_comunal [data-id="fecha_fin"]{width: 110px;}
.tree_actor_comunal [data-id="cargo"]{width: 200px;}
.tree_actor_comunal [data-id="nombres"]{width: 200px;}

.tree_equipo_tecnico [data-id="fecha_inicio"]{width: 110px;}
.tree_equipo_tecnico [data-id="fecha_fin"]{width: 110px;}


