.title_job{
    font-size: 16px;
}
.header_job a{
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
}

.job-description{
    margin-top: 10px !important;
}

.super-title{
    font-size: 50px;
}

.word-cuna {
    color: #009EE0;
}

.word-mas {
    color: #CDD400;
}

.logo-cuna{
    margin-top: 25px;
    width: 130px;
    height: 76px;
    margin-bottom: 10px;
    float: left;
}

.title-cas{
    margi-top: 60px;
}

.ul-cargo{
    max-height: 400px;
    overflow-y: scroll;
}

.service-checkd {
    margin: 3px;
    border-radius: 4px;
    padding: 3px;
    color: white;
    display: inline;
}

.green-cm{
    background-color: #5cb85c;
}

.info-cm{
    background-color: #f39c12;
}

.result-cm{
    background-color: #3498db;
}

.red-cm{
    background-color: #d9534f;
}

.btn-cm-cas{
    color: #2c3e50;
}

.btn-cm-cas-disabled{
    color: lightgray;
}

.dropdown-menu-cm {
    position: absolute;
    left: 0;
    top: auto;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.alert-cas{
    font-size: 18px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.panel-footer-cm{
    padding: 2px 2px;
}

.alert-panel-item-cas{
    padding-left: 30px !important;
    padding-right: 0px !important;
}

.o_fit_group{
    margin-bottom:0px !important;
    padding-top:0px !important;
    margin-top:0px !important;
}

.o_fit_group_cas{
    margin-bottom:0px !important;
    padding-top:0px !important;
    margin-top:5px !important;
}

.small_separator{
    font-size: 13px !important;
    margin: 0px 0 !important;
}

.mediun_separator{
    font-size: 14px !important;
    margin: 0px 0 !important;
}

.color_gray{
    color: lightgray;
}

input.to_upper{
    text-transform: uppercase;
}

textarea.to_upper{
    text-transform: uppercase;
}

span.bold{
    font-weight: bold !important;
}
