body{
    font-family: 'Arial', 'Verdana', 'Tahoma' !important;
    font-size: 14px  !important;
}

table.table-report >  tbody > tr > td{
    padding: 3px !important;
}

table.table-report >  thedad > tr > th{
    padding: 3px !important;
}

.line-title-cas{
    line-height: 1.6;
    font-size: 15px;
}

.p-justify{
    text-align: justify;
}

p{
    font-size: 13px !important;
}

table{
    font-size: 12px  !important;
}