label.large_label{
    width : 200px !important;
}
input.large_label{
    width : 80px !important;
}
span.resultado_tamizaje{
    color: #de1c24;
}
span.infobox{
    border-color: #ebccd1;
    background: #f2dede no-repeat 10px 10px;
    border-radius: 10px;
    border: 1px solid;
    font-weight: bold;
    color: #a94442;
    padding: 8px 10px 10px 64px;
        padding-top: 8px;
        padding-bottom: 10px;
    width: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.add-button{
    height: 35px;
    width: 120px;
    font-weight: bold;
    font-size: 10px;
}
.tdFocus{
	background-color: #eee;
}
.tdoption{
	padding-left: 15px;
}

.cab-ficha{
	font-weight: bold;
	padding: 1px;
	background-color: #e1f3fb;
}
